.market-data {
  display: flex;
  justify-content: space-between;
  /* font-size: 2rem; */
  padding: 1rem 0rem 1rem 0rem;
  align-items: center;
  /* box-shadow: 0 0 0.5rem rgba(153, 153, 153, 0.075); */

  /* margin: 0.2rem 0rem 0rem 0rem; */
  border-radius: 0.5rem;
  /* margin-bottom: 2rem; */
  /* background-color: rgba(153, 153, 153, 0.114); */
}
.market-header {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 500;
}
.coin-symbol-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.coin-name {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 0.02rem;
}
.coin-symbol {
  color: #444;
  font-size: 1.3rem;
}
.coin-price {
  font-weight: 500;
  color: #000;
}
.fx {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 700;
  margin-top: 2rem;
}
.price-percentage{
  display: flex;
  flex-direction: column;
}

.percentage{
  align-self: end;
  color: #444;
  font-size: 1.2rem;
}
/* .widget{
  height: 30rem;
} */


.view-more{
  display: flex;
  /* justify-content: center;
  align-items: center; */justify-content: end;
  color:#44441D ;
  font-size: 1.5rem;
  text-align: right;
  font-weight: 600;

}
.graph{
  background-color: #99999914;
 
  /* box-shadow: 0 0 0.45rem #222; */
/* border: .2rem solid #999; */

}
.title-btc-graph{
  display: flex;
  justify-content:first baseline;
  align-items: center;
  font-size: 1.2rem;
  gap: .5rem;
}
#btc-usd{
  font-weight: 700;
  font-size: 1.8rem;
color: #444;
}
.usd-usd{
  font-weight: 600;

}
.usd-usd span{
  font-size: 1.5rem;
  font-weight: 600;
  color: #444;
}