.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;

  width: 100%;
  /* background-color: #fff; */
  height: 60px; /* Set the desired height */
  border-top: 0.1rem solid #ccc;
  box-shadow: 0rem -0.2rem 1rem rgba(0, 0, 0, 0.1);
}
