* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}
html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
min-height: 100%;
}
body {
  justify-content: center;
min-height: 100%;

  font-family: "Montserrat", sans-serif;
display: flex;
flex-direction: column;
  /* list-style: 1; */
  font-weight: 400;
}
.container {
  min-width: 32rem;
  /* max-width: 32rem; */
  max-width: 42.8rem;
  width: 100%;
  margin: 0 auto;
  /* background-color: #f3f6fd; */
  /* box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.09);  */
  overflow: hidden;
}

/* reuse for all page container for fluid layout */
.content-container{
  width: 90%;
  margin: 0 auto;

  /* box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.308); */
  /* border-radius: 1rem; */
  /* padding: 2rem 2rem; */
  align-items: center;
  justify-content: center;

  /* margin-bottom: 1.9rem; */
  background-color: #fff
}
a{
  text-decoration: none;
  font-size: 1.5rem;
color:#444 ;
/* color:#44441d ; */
font-weight: 600;
}
a:hover{
  color: #111;
}